<footer class="site-footer">

  <div class="wrapper">
	<div class="footer-content">
		<h3>Lorem Ipsum</h3>
		<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
		<p>Subscribe <a href="{{ "/feed.xml" | prepend: site.base_url }}">via RSS</a></p>
	</div>

	<div class="footer-social">
				<ul>
					<li>
						<a href="http://www.twitter.com/{{ site.twitter_username }}">
							<img src="{{ site.baseurl }}/images/twitter.png" alt="twitter logo" width="40">
						</a>
					</li>
					<li>
						<a href="http://www.github.com/{{ site.github_username }}">
							<img src="{{ site.baseurl }}/images/github.png" alt="github logo" width="40">
						</a>
					</li>
					<li>
						<a href="http://plus.google.com/{{ site.google_username }}">
							<img src="{{ site.baseurl }}/images/google.png" alt="google logo" width="40">
						</a>
					</li>
				</ul>
			</div>
	</div>

</footer>
