<nav class="site-nav">
	<ul>
		{% for link in site.links %}
		<li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
		{% endfor %}
	</ul>
</nav>

<header class="site-header gradient-bar">
	<h1 class="site-title mega"><a href="{{ site.baseurl }}">Design Portfolio</a></h1>
</header>
