<ul class="post-tags">
	{% for tag in post.tags %}
		<li>
			<img src="{{ site.baseurl }}/images/icon-{{ tag }}.png" alt="{{ tag }} icon" />
		</li>
	{% endfor %}
</ul>
<h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
<p>
	{{ post.content | strip_html | strip_newlines | truncate: 200 }}
</p>
<p class="read-more-link"><a href="{{ post.url | prepend: site.baseurl }}">Read More ...</a></p>
