---
layout: default
title: All Articles
permalink: /articles/
---

	<div class="site-section site-section-last">
		<header class="post-header">
			<h1>{{ page.title }}</h1>
		</header>
		<ul class="post-list">
			{% for post in site.categories['blog'] %}
				<li class="post">
					{% include post.html %}
				</li>
			{% endfor %}
		</ul>
	</div>
