---
layout: default
title: Hire Me
permalink: /hire-me/index.html
---

<div class="site-section site-section-last">
	<header class="post-header">
		<h1>{{ page.title }}</h1>
	</header>

	<div class="post-body">
		<p>Integer ante arcu, accumsan a, consectetuer eget, posuere ut,
		mauris. In hac habitasse platea dictumst. Sed cursus turpis
		vitae tortor. Vivamus in erat ut urna cursus vestibulum.
		Phasellus a est.</p>

		<ul class="abilities">
			<li class="ability-photoshop">Photoshop</li>
			<li class="ability-illustrator">Illustrator</li>
			<li class="ability-ui">UI design</li>
			<li class="ability-html">HTML</li>
			<li class="ability-css">Sass</li>
			<li class="ability-jekyll">Jekyll</li>
			<li class="ability-git">git</li>
		</ul>
	</div>
</div>
