---
layout: default
---

<div class="home">
	<!--Featured Post Section-->
	<section class="site-section">
		<div class="wrapper">
			<h1>Featured Articles</h1>
			{% assign count = 0 %}
			{% for post in site.categories['blog'] reversed | limit: 4 %}
				{% if post.featured == true and count < 1 %}
					<div class="post post-featured">
						{% include post.html %}
					</div>
					{% assign count = count | plus: 1 %}
				{% endif %}
			{% endfor %}
		</div>
	</section>
	<!--Featured Projects Section-->
	<section class="site-section">
		<h1>Featured Projects</h1>
		<ul class="project-list">
			{% for project in site.categories['project'] reversed | limit: 3 %}
				{% include project.html %}
			{% endfor %}
		</ul>
	</section>
	<!--Latest Articles Section-->
	<section class="site-section site-section-last">
		<div class="wrapper">
			<h1>Latest Articles</h1>
			<ul class="post-list">
				{% for post in site.categories['blog'] reversed | limit: 4 %}
					<li class="post">
						{% include post.html %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
</div>
