---
layout: default
title: All Projects
permalink: /work/
---

	<div class="site-section site-section-last">
		<header class="post-header">
			<h1>{{ page.title }}</h1>
		</header>
		<ul class="project-list">
			{% for project in site.categories['project'] %}
				{% include project.html %}
			{% endfor %}
		</ul>
	</div>
