/**
 * Site header
 */
.site-nav {
	text-align: center;

	ul {
		margin: 1em 0;
		list-style: none;
	}
	li {
		display: inline-block;
		margin: 0 0.5em;
		font-size: 1em;
	}
}
.site-title a {
	color :#000;

	&:hover {
		text-decoration: none;
	}
}
.site-header {
	background: url('../images/header-bg2.png');
	background-size: 400px 400px;
	border-bottom: 1px solid #ccc;
	padding: 2px 0 0;
}


/**
 * Site footer
 */
.site-footer {
	padding: 2em 0;
	color: #fff;
	background: $grey-color-dark;
}
.footer-content {
	float: left;
	font-size: 0.875em;
	width: 40%;

	h3 {
		text-align: left;
	}
}
.footer-social {
	float: right;

	li {
		display: inline-block;
		margin: 0 0.5em;
	}
}



/**
 * Page content
 */

/* Sections */
.site-section {
	@extend %clearfix;
	padding-top: $h1-font-size;
}
.site-section-last {
	padding-bottom: $h1-font-size;
}



/**
 * Posts
 */
