---
layout: default
---
<article class="site-section site-section-last">
	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
		<p class="post-meta">Posted on {{ page.date | date: "%b %-d, %Y"}}</p>

		{% if page.featured_image %}
		<div class="post-image">
			<img src="{{ page.featured_image }}" alt="{{ page.title }} Featured Image">
		</div>
		{% endif %}
	</header>
	<div class="post-body">
		{{ content }}
	</div>
</article>
