%ability {
	&:before,
	&:after {
		content: "";
		position: absolute;
	}
	&:before {
		top: 0.5em;
		margin-left: -2em;
		text-align: right;
		color: #fff;
	}
	&:after {
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		background: $brand-color;
		z-index: -1;
	}
}

$abilities: (
	'photoshop' : 80,
	'illustrator': 90,
	'ui': 80,
	'html': 95,
	'css': 95,
	'jekyll': 90,
	'git': 85
);

@each $ability, $score in $abilities {
	@keyframes show-ability-#{$ability} {
		from { width: 0; }
		to { width: $score * 1%; }
	}
	.ability-#{$ability} {
		@extend %ability;

		&:before {
			content: "#{$score}";
			left: $score * 1%;
		}
		&:after {
			-webkit-animation: show-ability-#{$ability} ease-in-out 1s 2s 1; /* Safari 4+ */
			-webkit-animation-fill-mode:forwards;
				-moz-animation: show-ability-#{$ability} ease-in-out 1s 2s 1; /* Fx 5+ */
				-moz-animation-fill-mode:forwards;
					-o-animation: show-ability-#{$ability} ease-in-out 1s 2s 1; /* Opera 12+ */
					-o-animation-fill-mode:forwards;
						animation: show-ability-#{$ability} ease-in-out 1s 2s 1; /* IE 10+ */
						animation-fill-mode:forwards;
		}
	}
}

.abilities {
	list-style: none;
	margin: 1.5em 0;

	li {
		margin-bottom: 0.5em;
		padding: 0.5em 1em;
		position: relative;
		color: #fff;
	}
}

