.post-list {
	@extend %clearfix;
	list-style: none;
}
.post {
	float: left;
	padding: 0 3em 1em;
	width: 50%;

	&:nth-child(odd) {
		clear: both;
	}
}
.post-read-more-link {
	text-align: center;
}

.post-featured {
	float: none;
	margin: 0 auto;
}

.post-tags {
	margin-left: 0;
	max-height: 50px;
	text-align: center;

	li {
		display: inline-block;
	}
}

// Single Post Pages
.post-header {
	text-align: center;
}
.post-title {
	margin: 0;
}
.post-meta {
	color: $blue-color;
	font-size: $h4-font-size;
}
.post-body {
	width: 90%;
	max-width: 40em;
	margin: $h2-font-size auto;

	h1, h2, h3, h4 {
		max-width: 80%;
		margin: $h2-font-size auto;
	}
}
