.project-list {
	@extend %clearfix;
	padding: 0;
	list-style: none;
}
.project {
	float: left;
	width: 33.333%;
	padding: 0 1em;
	text-align: center;
}
.project-caption {
	margin-top: 0.5em;
	font-size: $h3-font-size;
}
